<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.boardMapper">
   
   <!--게시판 글 작성 -->
   <insert id="insert">
   	insert into tbl_board (bno,title,content,writer)
   	values (tbl_board_seq.nextval, #{title}, #{content}, #{writer})
   </insert>
   
   <sql id="criteria">
   	<trim prefix="(" suffix=") and " prefixOverrides="or">
   		<foreach item="type" collection="typeArr">
   			<trim prefix="or">
   				<choose>
   					<when test="type == 'T'.toString()">
   						title like '%'||#{keyword}||'%'
   					</when>
   					<when test="type == 'C'.toString()">
   						content like '%'||#{keyword}||'%'
   					</when>
   					<when test="type == 'W'.toString()">
   						writer like '%'||#{keyword}||'%'
   					</when>
   				</choose>
   			</trim>
   		</foreach>
   	</trim> 
   </sql>
   
	<!-- 페이징 10개씩 출력 -->
   	<select id="listPage" resultType="com.board.vo.BoardVO" parameterType="com.board.vo.Criteria">
   	 <![CDATA[
   	 	select bno,title,content,writer,regdate
			from(
    			select /*+ INDEX_DESC(tbl_board pk_board) */ 
        		rownum rn, bno, title, content,writer,regdate
    		from tbl_board
    		where
    ]]>
    <include refid="criteria"></include>
    
     <![CDATA[ rownum <= #{page} *#{perPageNum} 
    		)
		where rn > (#{page}-1) *#{perPageNum} 
   	 ]]>
   </select>
   
   <select id="listCount" resultType="int">
   	<![CDATA[
   		select count(bno) from tbl_board where bno > 0
   	]]>
   </select>
   
   <!-- 게시판 조회 기능 -->
   <select id="read" parameterType="int" resultType="com.board.vo.BoardVO">
   	select bno,title,content,writer,regdate from tbl_board
   	where bno = #{bno}
   </select>
   
   <!-- 수정  -->
   <update id="update" parameterType="com.board.vo.BoardVO">
   	update tbl_board set title=#{title}, content=#{content} where bno=#{bno}
   </update>
   
   <!-- 삭제  -->
   <delete id="delete" parameterType="int">
   	delete from tbl_board where bno=#{bno}
   </delete>
   
   <!--전체 데이터의 개수 처리  -->
   <select id="getTotalCount" resultType="int">
   	<![CDATA[
   	select count(*) from tbl_board where bno>0
   	]]>
   </select>

</mapper> 